.content {
    float: left;
    width: 75%;
 }

 aside {
    float: right;
    width: 25%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
 }

 main {
       overflow: auto;
 }

 .childA{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    float: left;
    padding: 5px;
    
    }
