@import "appbar.css";
@import "picture.css";
@import "about.css";
@import "footer.css";
@import "aside.css";
@import "customer.css";
@import "fab.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    width: 95%;
    max-width: 1000px;
    margin: 32px auto;
    padding: 20px;
}

 header {
    display: inline;
 }